.pagination {
  margin: 24px 0 0;
  padding: 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination__list-item {
  color: var(--blue-7);
  display: inline-block;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0 8px;
  position: relative;
}
.pagination__list-item--active {
  background-color: var(--blue-7);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-3);
  color: #fff;
  margin: 0 8px;
  padding: 0 12px;
}
.pagination__list-item--disabled {
  color: var(--gray-7);
}
.pagination__list-item--prev-next {
  padding: 0 24px;
}
.pagination__link--disabled {
  cursor: default;
}
