.loading-container {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.loading-title {
  background: var(--gradient-29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
